@import "./assets/styles/fluid-font-sizes.css";
@import "./assets/styles/fluid-spacing.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  svg,
  svg path {
    stroke-width: var(--icon-stroke-width);
    width: var(--icon-size);
    height: var(--icon-size);
  }

  body {
    @apply font-sans overflow-y-scroll;
    line-height: 1.4;
  }
}

@layer components {
  /*
    Storefront Layout styles
  */
  .storefront-layout {
    @apply min-h-screen bg-cosmic-latte text-chestnut-brown;
  }
  .storefront-nav-logo-wrapper {
    @apply w-[126px] absolute left-1/2 -translate-x-1/2 md:relative md:left-0 md:-translate-x-0 z-40;
  }
  .mobile-nav-dropdown {
    @apply absolute top-[80px] left-0 flex flex-col w-full sp-px-mobile-nav-dropdown py-[18px] bg-cosmic-latte text-chestnut-brown overflow-y-auto z-20;
    height: var(--mobile-nav-dropdown-height);
  }
  .mobile-nav-button {
    @apply relative -bottom-1 flex flex-col items-center gap-2 hover:text-bone duration-200;
  }
  .storefront-footer-logo-wrapper {
    @apply relative w-[126px] h-20 mt-6 md:mt-0;
  }
  .storefront-footer-logo-slogan {
    @apply mt-3 font-birthstone font-medium fs-footer-slogan;
  }
  /* End of Storefront Layout styles  */

  /* 
    Global styles
  */
  .wrapper {
    @apply max-w-7xl mx-auto;
  }
  .btn {
    @apply btn-pressable custom-shadow block py-[10px] font-medium text-center rounded;
  }
  .btn-pressable {
    position: relative;
    transition: transform 0.12s cubic-bezier(0.3, 0, 0.7, 1),
      box-shadow 0.12s cubic-bezier(0.3, 0, 0.7, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }
  .btn-pressable:active {
    transform: translateY(2px) scale(0.98);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  .btn-primary {
    @apply btn bg-black text-crayola focus:outline-offset-4;
  }
  .btn-secondary {
    @apply btn border border-chestnut-brown bg-cosmic-latte text-chestnut-brown;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.08) 0px 1px 3px -1px;
  }
  .btn-hover {
    @apply relative z-10 overflow-hidden;
    /* border-radius, width and height or paddings should come from the styles defined on the element itself */
  }
  .btn-hover::before,
  .btn-hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transform: scaleX(0.7) scaleY(0.7) perspective(1px);
    z-index: -1;
  }
  .btn-hover::before {
    opacity: 0;
    transition: transform 0.2s cubic-bezier(0.345, 0.115, 0.135, 1.42),
      opacity 0.15s ease-out;
  }
  .btn-hover:hover::before {
    opacity: 1;
    transform: scaleX(1.015) scaleY(1.035) perspective(1px);
  }
  .btn-hover::after {
    transition: transform 0.2s cubic-bezier(0.345, 0.115, 0.135, 1.42),
      background 0.15s ease-out, box-shadow 0.2s ease-out;
  }
  .btn-hover:hover::after {
    /* background-color for the after pseudo-selector should come from the element itself */
    transform: scaleX(1.015) scaleY(1.035) perspective(1px);
  }
  .btn-rounded {
    @apply btn-hover flex items-center justify-center w-8 h-8 rounded-full;
  }
  .link-hover-alt,
  .link-hover {
    /* Original Hover Effect - https://codepen.io/team/css-tricks/pen/jOarVmy */
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
  .link-hover-alt::before,
  .link-hover-alt::after,
  .link-hover::before,
  .link-hover::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    will-change: transform;
  }
  .link-hover-alt::before,
  .link-hover::before {
    bottom: 0;
    height: 0;
    box-shadow: 0 0 0 0.8px;
    transform-origin: 100% 50%;
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  .link-hover-alt::before {
    transform: scaleX(1);
  }
  .link-hover::before {
    transform: scaleX(0);
  }
  .link-hover-alt::after,
  .link-hover::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  .link-hover:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  .link-hover-alt:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(0);
  }
  .link-hover-alt:hover::after,
  .link-hover:hover::after {
    transform: translate3d(0, 0, 0);
  }
  .link-hover-alt span,
  .link-hover span {
    /* Span sliding animation */
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    will-change: transform;
  }
  .link-hover-alt:hover span,
  .link-hover:hover span {
    transform: translate3d(-200%, 0, 0);
  }
  .custom-shadow {
    /* https://getcssscan.com/css-box-shadow-examples #33 */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .custom-shadow-2 {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.08) 0px 1px 3px -1px;
  }
  .has-ripple {
    @apply border border-transparent duration-1000;
  }
  .has-ripple .circle {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-5 h-5 rounded-full animate-circle-scale-up;
  }
  .has-ripple-primary {
    @apply has-ripple;
  }
  .has-ripple-primary .circle {
    @apply bg-chestnut-brown/20;
  }
  .has-ripple-primary:has(.circle) {
    @apply has-[.circle]:border-chestnut-brown/60;
  }
  .new-arrival-label {
    @apply absolute top-0 left-0 px-[5px] py-2 fs-new-arrival-label font-medium italic bg-black text-crayola uppercase leading-none z-10;
    writing-mode: sideways-lr;
  }
  .card-hover {
    transition: all 0.2s cubic-bezier(0.3, 0, 0.7, 1);
  }
  .card-hover:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.08) 0px 1px 3px -1px;
    transform: translateY(-2px);
  }
  .pagination-button {
    @apply btn-rounded w-9 h-9 rounded-md has-ripple-primary hover:after:bg-cream text-chestnut-brown;
  }
  .filter-badge {
    @apply inline-flex items-center gap-1 py-1 pl-2.5 pr-1 fs-filters-badge bg-cream 
    text-chestnut-brown font-medium select-none rounded;
  }
  .filter-badge-btn {
    @apply w-6 h-6 text-pale-brown hover:after:bg-bone hover:text-chestnut-brown;
  }
  .bottom-sheet {
    @apply fixed left-4 right-4 bottom-4 sm_plus:max-w-xl sm_plus:mx-auto z-[101] bg-cosmic-latte rounded-lg p-3.5;
  }
  .bottom-sheet .sort-title {
    @apply mb-6 text-lg font-semibold text-center;
  }
  .bottom-sheet .sort-option {
    @apply flex justify-between items-center p-3 rounded-lg cursor-pointer btn-hover hover:after:bg-cream;
  }
  .bottom-sheet .sort-option .selected-indicator {
    @apply w-[18px] h-[18px] rounded-full border border-chestnut-brown flex items-center justify-center;
  }
  .bottom-sheet .sort-option .selected-indicator .active {
    @apply w-3 h-3 bg-chestnut-brown rounded-full;
  }
  .mobile-sort-button {
    @apply inline-flex gap-0.5 items-center py-[5px] px-2 font-medium rounded btn-hover hover:after:bg-cream fs-mobile-sort-controls;
  }
  /* End of Global styles */
}

@layer utilities {
  @keyframes circle-scale-up {
    to {
      transform: translate(-50%, -50%) scale(3);
      opacity: 0;
    }
  }

  .animate-circle-scale-up {
    animation: circle-scale-up 0.32s ease-out forwards;
  }

  @keyframes scaleUp {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes scaleDown {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0);
    }
  }

  .animate-scale-up {
    animation: scaleUp 0.4s cubic-bezier(0.345, 0.115, 0.135, 1.42) forwards;
  }
  .animate-scale-down {
    animation: scaleDown 0.4s cubic-bezier(0.345, 0.115, 0.135, 1.42) forwards;
  }

  @keyframes loading {
    0%,
    100% {
      transform: scaleY(0.4);
      opacity: 0.8;
    }

    50% {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  .animate-loading {
    animation: loading 0.6s ease-in-out 0s infinite normal none;
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-0.75rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-down {
    animation: fadeInDown 0.2s ease-in-out both;
  }
}
