:root {
  /* 
    Legend:

      1️⃣ -min:
        > Suffix refers to small screens between 320px and 768px

      2️⃣ -mid:
        > Suffix refers to large screens between 768px and 1280px

      3️⃣ -full:
        > Suffix refers to all screen sizes, mobile and desktop, between 320px and 1280px
      
      💡 Numbers used on variable names refer to pixels e.g 
        --fs-12-14-min:
          > [fs] - font size
          > [12-14] - has a range of 12 to 14 pixels, both inclusive
          > [min] - style has been set to be fluid between 320px and 768px
  */

  /* Fluid font sizes for large screens (768px-1280px, -mid) */
  --fs-16-17-mid: clamp(1rem, 0.9063rem + 0.1953vw, 1.0625rem);
  --fs-20-24-mid: clamp(1.25rem, 0.875rem + 0.7813vw, 1.5rem);

  /* Fluid font sizes for small screens (320px-768px, -min) */
  --fs-9-14-min: clamp(0.5625rem, 0.3393rem + 1.1161vw, 0.875rem);
  --fs-12-14-min: clamp(0.75rem, 0.6607rem + 0.4464vw, 0.875rem);
  --fs-14-16-min: clamp(0.875rem, 0.7857rem + 0.4464vw, 1rem);
  --fs-16-18-min: clamp(1rem, 0.9107rem + 0.4464vw, 1.125rem);
  --fs-18-20-min: clamp(1.125rem, 1.0357rem + 0.4464vw, 1.25rem);
  --fs-22-26-min: clamp(1.375rem, 1.1964rem + 0.8929vw, 1.625rem);
  --fs-24-28-min: clamp(1.5rem, 1.3214rem + 0.8929vw, 1.75rem);

  /* Fluid font sizes for ALL screens (320px-1280px, -full) */
  --fs-12-14-full: clamp(0.75rem, 0.7083rem + 0.2083vw, 0.875rem);
  --fs-14-16-full: clamp(0.875rem, 0.8333rem + 0.2083vw, 1rem);
  --fs-16-18-full: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem);
  --fs-18-20-full: clamp(1.125rem, 1.0833rem + 0.2083vw, 1.25rem);
  --fs-40-56-full: clamp(2.5rem, 2.1667rem + 1.6667vw, 3.5rem);
}

/* Storefront Styles */
.fs-product-card-currency,
.fs-product-card-name,
.fs-hero-body,
.fs-footer-about,
.fs-logo-fallback {
  font-size: var(--fs-16-18-full);
}
.fs-nav-lg {
  font-size: var(--fs-16-17-mid);
}
.fs-nav-sm {
  font-size: var(--fs-9-14-min);
}
.fs-mobile-account-link-about,
.fs-mobile-menu-legal-link,
.fs-nav-cart-count {
  font-size: var(--fs-12-14-min);
}
.fs-nav-h2 {
  font-size: var(--fs-20-24-mid);
}
.fs-mobile-nav-h2 {
  font-size: var(--fs-22-26-min);
}
.fs-h3,
.fs-mobile-menu-link {
  font-size: var(--fs-16-18-min);
}
.fs-mobile-account-auth-link,
.fs-mobile-account-link-title,
.fs-mobile-menu-workshop-link {
  font-size: var(--fs-14-16-min);
}
.fs-h2 {
  font-size: var(--fs-24-28-min);
}
.fs-footer-sign-in,
.fs-footer-reviews,
.fs-footer-nav-links {
  font-size: var(--fs-14-16-full);
}
.fs-footer-slogan {
  font-size: var(--fs-18-20-full);
}
.fs-footer-copy {
  font-size: var(--fs-12-14-full);
}
.fs-hero-h1 {
  font-size: var(--fs-40-56-full);
}
.fs-new-arrival-label {
  font-size: var(--fs-12-14-full);
}
.fs-items-count,
.fs-shop-link {
  font-size: var(--fs-14-16-full);
}
.fs-new-product-title {
  font-size: var(--fs-18-20-min);
}
